<footer>
  <div class="cont-footer-1">
    <ul>
      <li><a href="#">¿Quiénes somos?</a></li>
      <li><a href="#">¿Quieres trabajar con nosotros?</a></li>
      <li><a href="#">Zonade Prensa</a></li>
    </ul> 
  </div>

  <div class="cont-footer-2">
    <ul>
      <li><a href="#">Contacto</a></li>
      <li><a href="#">App Metropolitan</a></li>
      <li><a href="#">Información Legal</a></li>
    </ul>
  </div>

  <div class="cont-footer-3">
    <ul>
      <li><a href="#">Gimnasios en Barcelona</a></li>
      <li><a href="#">Gimnasios en Madrid</a></li>
      <li><a href="#">Gimnasios en Bilbao</a></li>
      <li><a href="#">Gimnasios en Zaragoza</a></li>
    </ul>
  </div>

  <div class="cont-footer-social">
    <div class="cont-logos">
      <a href="#"><img src="assets/icon/insta.webp" alt="instagram-logo"></a>
      <a href="#"><img src="assets/icon/face.webp" alt="facebook-logo"></a>
      <a href="#"><img src="assets/icon/youtube.webp" alt="youtube-logo"></a>
      <a href="#"><img src="assets/icon/spotify.webp" alt="spotify-logo"></a>
    </div>
    <p class="rights">© Club Metropolitan | Todos los derechos reservados 2023</p>
  </div>
</footer>
