<footer>
  <div class="cont-footer-1">
    <ul>
      <li><a href="/working">¿Quiénes somos?</a></li>
      <li><a href="/working">¿Quieres trabajar con nosotros?</a></li>
      <li><a href="/working">Zonade Prensa</a></li>
    </ul> 
  </div>

  <div class="cont-footer-2">
    <ul>
      <li><a href="/working">Contacto</a></li>
      <li><a href="/working">App Metropolitan</a></li>
      <li><a href="/working">Información Legal</a></li>
    </ul>
  </div>

  <div class="cont-footer-3">
    <ul>
      <li><a href="/working">Gimnasios en Barcelona</a></li>
      <li><a href="/working">Gimnasios en Madrid</a></li>
      <li><a href="/working">Gimnasios en Bilbao</a></li>
      <li><a href="/working">Gimnasios en Zaragoza</a></li>
    </ul>
  </div>

  <div class="cont-footer-social">
    <div class="cont-logos">
      <a href="https://www.instagram.com/metropolitangym/" target="_blank"><img src="assets/icon/insta.webp" alt="instagram-logo"></a>
      <a href="https://www.facebook.com/clubmetropolitan" target="_blank"><img src="assets/icon/face.webp" alt="facebook-logo"></a>
      <a href="https://www.youtube.com/user/clubmetropolitan" target="_blank"><img src="assets/icon/youtube.webp" alt="youtube-logo"></a>
      <a href="https://open.spotify.com/user/clubmetropolitan" target="_blank"><img src="assets/icon/spotify.webp" alt="spotify-logo"></a>
    </div>
    <p class="rights">© Club Metropolitan | Todos los derechos reservados 2023</p>
  </div>
</footer>
