section {
    background-color: rgb(0, 0, 0);
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;

    div {
        align-self: center;

        h1 {
            color: var(--color-white);
        }
    }
}