<main>
  <section class="bannerContainer" >
    <div class="imagePlaceholder" [ngClass]="{ 'showPlaceholder': !showImage }"></div>
    <img  [ngClass]="{ 'banner_home' : 'showImage' }" fetchpriority="high" src="assets/images/BANNER_HOME.jpg" alt="Banner_Home" (load)="showAnimation()">
  </section>

    <section class="experienceContainer" >
      <div class="textContainer" id="sliderHTML" [ngClass]="{ 'show-animation': 'showExperienceSectionAnimation' }">

        <div class="titleContainer">
          <h1>VIVE LA EXPERIENCIA METROPOLITAN</h1>
        </div>

        <div class="descriptionContainer">
          <P> Bienvenido a una experiencia de bienestar 360º que combina las últimas novedades y 
            tendencias de Fitness, Belleza, SPA, Medicina Deportiva y Nutrición en un espacio de 
            diseño único.</P>
            
          </div>
          <div class="arrowContainer">
            <img src="assets/icon/arrow.ico" alt="down-arrow">

          </div>

      </div>

    </section>

    <app-carousel-container />

</main>
<app-footer />
