section {
  width: 100%;
  display: flex;
  
  .left-section {
    width: 60%;
  }
  .right-section {
    width: 40%;

    .title {
      display: flex;
      margin-left: 8%;
      margin-bottom: 0;
      height: 50%;

      h2 {
        text-transform: uppercase;
        text-wrap: wrap;
        font-size: 70px;
        font-family: Roboto-Bold;
        padding: 1rem;
        align-self: flex-end;
        margin: auto auto 0 0;
      }
    }
    .text-container {
      height: 50%;
      margin-left: 8%;
      display: flex;


      p {
        text-wrap: wrap;
        max-width: 90%;
        padding: 1rem;
        font-size: 1.3125rem;
        color: var(--gray);
        margin: 0 auto auto 0;
      }
    }
  }

  @media (max-width: 1280px) {
    display: block;

    .left-section {
      width: 100%;
    }

    .right-section {
      width: 100%;

      .title {
        margin: auto;
        padding: 1 rem;
        justify-content: center;
        align-content: center;

        h2 {
          margin: auto;
          font-size: 1.75rem;
          align-self: center;
        }
      }

      .text-container {
        margin: auto;
        padding: 1 rem;
        justify-content: center;
        align-content: center;

        p {
          padding: 1 rem;
          margin: auto;
          align-self: center;
          font-size: 1rem;

        }
      }
    }
  }
}