<nav>
  <a href="#">
    <img class="logo" src="assets/logo/metrpolitan-logo-black.webp" alt="metropolitan-logo">
  </a>
    
  <div class="container">
    <ul>
      <li><a href="#">CLUBS</a></li>
      <li><a href="#">FITNESS</a></li>
      <li><a href="#">SPA BALNEARIO</a></li>
      <li><a href="#">CENTRO DE BELLEZA</a></li>
      <li><a href="#">ÁREA MÉDICA</a></li>
      <li><a href="#">RESTAURANTE</a></li>
      <li><a href="#">ÚNETE AL CLUB</a></li>
      <li><a href="#">ÁREA DE SOCIO</a></li>
    </ul>

    <button>
      <div></div>
      <div></div>
      <div></div>
    </button>
  </div>

</nav>
