<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
    <div class="form-cont">

    <div class="columns-cont">
        <div class="column-1">
            <input type="text" placeholder="Nombre" registerForm="firstname" >
            <input type="text" placeholder="Apellido" registerForm="lastname">
            <input type="mail" placeholder="Email" registerForm="email">
        </div>
    
        <div class="column-2">
            <input type="password" placeholder="Contraseña" registerForm="password">
            <!-- <div *ngIf="password.errors?['required'] >

            </div> -->
            <input type="password" placeholder="Repita contraseña" >
            <div class="line-cont">
                <div class="line"></div>
            </div>
        </div>
    </div>
    <p>Form Status: {{registerForm.status}} </p>

    <div class="check">
        <input type="checkbox"> <a target="_blank" href="/informacion-legal">He leído y acepto las condiciones de protección de datos</a>
    </div>
    
        <button type="submit" [disabled]="registerForm.valid">Continuar</button>

    </div>

</form>
