<form>
    <div class="form-cont">

    <div class="columns-cont">
        <div class="column-1">
            <input type="text" placeholder="Nombre" >
            <input type="text" placeholder="Apellido">
            <input type="mail" placeholder="Email">
        </div>
    
        <div class="column-2">
            <input type="password" placeholder="Contraseña">
            <input type="password" placeholder="Repita contraseña">
            <div class="line-cont">
                <div class="line"></div>
            </div>
        </div>
    </div>

    <div class="check">
        <input type="checkbox"> <a target="_blank" href="/informacion-legal">He leído y acepto las condiciones de protección de datos</a>
    </div>
    
        <button>Continuar</button>

    </div>

</form>
