<section>
    <div>
        <div>
            <h1>PREINSCRIPCIÓN</h1>
        </div>
        <div>
            <p>
                Preinscríbete ahora de forma gratuita para conocer las cuotas y promociones de 
                Metropolitan Galileo, y si lo deseas, accede a nuestra promoción de inscripción 
                online.
            </p>
        </div>
    </div>

    <form>
        <div>
            <input type="text" placeholder="Nombre" >
            <input type="text" placeholder="Apellido">
            <input type="mail" placeholder="Email">
        </div>
        <div>
            <input type="password" placeholder="Contraseña">
            <input type="password" placeholder="Repita contraseña">
            <div>
                <input type="checkbox"> <a href="#">He leído y acepto las condiciones de protección de datos</a>
            </div>
        </div>
        <button>Continuar</button>
    </form>

</section>
